/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of RESET */
.container {
  max-width: 100%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3.125rem;
  margin: 50px auto 0 auto;
  color: #51C4D3;
}

.profile-pic {
  margin: 50px auto 50px;
}

.intro {
  width: 60%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border: dotted #AAD8D3 6px;
  width: 4%;
  margin: 50px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  color: #51C4D3;
  padding-bottom: 3%;
  width: 60%;
  margin: auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #126E82;
}

#top-container {
  background-color: #D8E3E7;
  position: relative;
  padding-top: 2%;
}

.middle-container {
  margin: 50px 0;
}

#bottom-container {
  background-color: #51c4d3;
  padding: 50px 0 20px;
}

.top-cloud {
  position: relative;
  left: 33%;
  top: 5%;
  width: 25%;
}

.bottom-cloud {
  position: relative;
  bottom: 1%;
  width: 25%;
  right: 37%;
}

.mountain {
  width: 70%;
  position: relative;
  display: block;
  margin: auto;
  left: 10%;
}

#profile {
  margin-bottom: 30px;
}

.skill-row {
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.skills-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.psychology {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 60%;
  margin: 40px auto 60px;
}

/* Custom Button */
.btn {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #393E46);
  background-image: -moz-linear-gradient(top, #00ADB5, #393E46);
  background-image: -ms-linear-gradient(top, #00ADB5, #393E46);
  background-image: -o-linear-gradient(top, #00ADB5, #393E46);
  background-image: -webkit-gradient(to bottom, #00ADB5, #393E46);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border-color-hover: ;
  border-style-hover: solid;
  border-width-hover: 1;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2%;
}

.btn:hover {
  background: #AAD8D3;
  background-image: -webkit-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -moz-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -ms-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -o-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -webkit-gradient(to bottom, #AAD8D3, #00ADB5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/* End of Custom Button */
.footer-link {
  color: #1a3336;
  font-family: Montserrat, sans-serif;
  margin: 10px 20px;
}

/* Link Styling */
a {
  color: #51C4D3;
  text-decoration: none;
}

a:hover {
  color: #b1e7ef;
}

/* End of Link Styling */
.copywrite {
  color: #d8e3e7;
  font-size: 0.75rem;
  padding: 15px 0 0;
}

/* Mobile first style - Put what changes you want for wider viewports in the media query*/
@media only screen and (min-width: 750px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .top-cloud {
    position: relative;
    left: 33%;
    top: 12%;
    width: 15%;
  }

  .bottom-cloud {
    position: relative;
    bottom: 10%;
    width: 15%;
    right: 37%;
  }

  .mountain {
    width: 30%;
  }
}
