body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3.125rem;
  margin: 50px auto 0 auto;
  color: #51C4D3;
}

.profile-pic {
  margin: 50px auto 50px;
}

.intro {
  width: 60%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border: dotted #AAD8D3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  color: #51C4D3;
  padding-bottom: 10px;
  width: 60%;
  margin: auto;
}

.top-h2 {
  margin: 0 auto 45px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #126E82;
}

.top-container {
  background-color: #D8E3E7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #51c4d3;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 25%;
}

.bottom-cloud {
  position: absolute;
  left: 35px;
  bottom: 174px;
  width: 25%;
}

.mountain {
  width: 70%;
}

.profile {
  margin-bottom: 30px;
}

.skill-row {
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.skills-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.psychology {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 60%;
  margin: 40px auto 60px;
}

.btn {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #393E46);
  background-image: -moz-linear-gradient(top, #00ADB5, #393E46);
  background-image: -ms-linear-gradient(top, #00ADB5, #393E46);
  background-image: -o-linear-gradient(top, #00ADB5, #393E46);
  background-image: -webkit-gradient(to bottom, #00ADB5, #393E46);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border-color-hover: ;
  border-style-hover: solid;
  border-width-hover: 1;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #AAD8D3;
  background-image: -webkit-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -moz-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -ms-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -o-linear-gradient(top, #AAD8D3, #00ADB5);
  background-image: -webkit-gradient(to bottom, #AAD8D3, #00ADB5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.footer-link {
  color: #1a3336;
  font-family: Montserrat, sans-serif;
  margin: 10px 20px;
}

a {
  color: #51C4D3;
  text-decoration: none;
}

a:hover {
  color: #b1e7ef;
}

.copywrite {
  color: #d8e3e7;
  font-size: 0.75rem;
  padding: 15px 0 0;
}

@media all and (min-width: 800px) {
  h1 {
    font-size: 5.625rem;
  }

  h2 {
    font-size: 1.5625rem;
  }

  .profile-pic {
    margin: 50px auto 50px;
  }

  .intro {
    width: 30%;
    margin: 20px auto;
    text-align: left;
  }

  .top-cloud {
    right: 170px;
    width: 13%;
  }

  .bottom-cloud {
    width: 13%;
    left: 150px;
    top: 450px;
  }

  .skill-row {
    width: 50%;
    margin: 100px auto 180px;
    text-align: left;
  }

  hr {
    margin: 100px auto;
  }

  .mountain {
    width: fit-content;
  }
}
